@import "tailwindcss";
@source "../../templates/**/*.{html,js}";
@source "../../../**/*.{html,py,js}";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
  root: ":root";
  logs: true;
}
