{% load component_tags %}

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 5xl:grid-cols-6 mb-12 md:mb-24">
  {% with collections=request.user.collection_set.all %}
    {% for post in posts %}
      {% if collections %}
        {% component "post_thumbnail" post=post collections=collections / %}
      {% else %}
        {% component "post_thumbnail" post=post collections=collections / %}
      {% endif %}
    {% endfor %}
  {% endwith %}
</div>
{% if posts|length == 0 %}<div class="py-4 text-4xl italic opacity-75">No posts yet!</div>{% endif %}
