{% load component_tags %}

<div class="grid gap-4 mb-12 md:grid-cols-2 md:mb-24 lg:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 5xl:grid-cols-6">
    {% for post in posts %}
      {% if collections %}
        {% component "post_thumbnail" post=post collections=collections / %}
      {% else %}
        {% with collections=request.user.collection_set.all %}
          {% component "post_thumbnail" post=post collections=collections / %}
        {% endwith %}
      {% endif %}
    {% endfor %}
</div>
{% if posts|length == 0 %}<div class="py-4 text-4xl text-placeholder">No posts yet!</div>{% endif %}
