{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <div class="flex flex-wrap gap-4 justify-center">
    <img class="bg-slate-200 border-2 rounded-md max-h-[1000px] max-w-[70%] object-cover"
         src="{{ post.media.image.file.url }}"
         alt="image" />
    <div class="flex flex-col gap-2 text-xl grow">
      <div>Uploader: {{ post.uploader.username }}</div>
      <div>Post date: {{ post.post_date }}</div>
      {% if post.media.src_url %}<div>Source: {{ post.media.src_url }}</div>{% endif %}
      <div class="flex flex-wrap gap-2 max-w-[70%]">
        Tags:
        {% for tag in tags %}
          {% component "tag" tag=tag / %}
        {% endfor %}
      </div>
      <div>Rating: {{ post.get_rating_level_display }}</div>
    </div>
  </div>
{% endblock content %}
